---
layout: default
---
<!-- Main Content -->
<div class="container about-page">
    <div class="row">
        <div class="col-md-4">
            <!-- Replace with your picture -->
            <img src="{{ site.baseurl }}/{{  page.header-img  }}" alt="Jillian" class="img-responsive" style="max-width: 100%;">
        </div>
        <div class="col-md-8">
            <!-- Content -->
            <h2>{{ page.title }}</h2>
            <p>{{ page.description }}</p>
            {{ content }}
        </div>
    </div>
</div>

<!-- jQuery -->    
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/js/main.min.js "></script>

<!-- Custom Styles -->
<style>
    .about-page {
        margin-top: 50px; /* Adjust based on your needs */
    }
    .about-page img {
        border-radius: 50%; /* Optional: make image circular */
    }
    .about-page h2 {
        margin-top: 0;
    }
</style>







